body {
	margin: 0;
	padding: 0;
	background: #ccc;
}

div#timeline {
	width: 500px;
	height: 700px;
	float: left;
	margin-left: 100px;
	margin-top: 30px;
	overflow: auto;
}

div#profile {
	width: 300px;
	height: 300px;
	float: left;
	margin-left: 50px;
	background-color: #00000;
}

div#private {
	margin: 0 auto;
	width: 50%;
}

div#mensajes {
	background-color: lightblue;
	border: 2px solid gray;
	border-radius: 3px;
}

.nav ul {
	list-style: none;
	background-color: #444;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav li {
	font-family: 'Oswald', sans-serif;
	font-size: 10px;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #888;
}

.nav a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
}

.nav a:hover {
	background-color: #005f5f;
}

.nav a.active {
	background-color: #fff;
	color: #444;
	cursor: default;
}

@media screen and (min-width: 800px) {
	.nav li {
		width: 150px;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		font-size: 10px;
	}
	.nav li {
		float: left;
	}
	.nav ul {
		overflow: auto;
		width: 800px;
		margin: 0 auto;
	}
	.nav {
		background-color: #444;
	}
	h1 {
		font-weight: normal;
		font-size: 4em;
		font-family: 'Raleway', sans-serif;
		margin: 0 auto;
		margin-top: 30px;
		width: 500px;
		color: #F90;
		text-align: center;
	}
}

.fish {
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;
}

#form {
	height: 100%;
	background-color: #98d4f3;
	margin-left: 100px;
	overflow: hidden;
	float: left;
}

form {
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
}

label, input, textarea {
	display: block;
}

input, textarea {
	width: 500px;
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input:focus, textarea:focus {
	border: solid 3px #77bde0;
}

textarea {
	height: 100px;
	resize: none;
	overflow: auto;
}

input[type="submit"] {
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

input[type="submit"]:hover {
	background-color: #e58f0e;
}

label {
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}

.formgroup, .formgroup-active, .formgroup-error {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
}

.formgroup {
	background-image:
		url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');
}

.formgroup-active {
	background-image:
		url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}

.formgroup-error {
	background-image:
		url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
	color: red;
}